figure, ul, li {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
}

body {
  background-color: #808080;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.snake-game {
  background-color: #90EE90;
  border: 1px solid lightgrey;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #5BC85B;
  box-sizing: border-box;
  border-radius: 5px;
}

.snake {
  background-color: black;
}

.apple {
  background-color: red;
}

.game-over {
  font-size: 16px;
}
